<div class="container main-view">
    <!-- HIPAA Junk -->
    <div class="panel panel-default">
        <div class="panel-heading">Notice of Privacy Practices Acknowledgement</div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="checkbox" /> I understand that, under the Health Insurance Portability & Accountability Act of 1996 (HIPAA), I have certain rights to privacy regarding my protected health information. I understand that this information can and will be used to:
                        <ul>
                            <li>Conduct, plan and direct my treatment and follow-up along the multiple healthcare providers who may be involved in that treatment directly and indirectly</li>
                            <li>Obtain payment from third-party payers</li>
                            <li>Conduct normal healthcare operations such as quality assessments and physician certifications</li>
                        </ul>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="checkbox"> I understand that Tree of Life Birth and Gynecology, LLC uses electronic forms for communication, such as email, fax or text message. This method is secured whenever possible, but email or other electronic forms of communication, may not
                        be secure and I have the right at any time to request that my personal health information is not communicated this way, by submitted a request in writing to the main office.
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="checkbox"> I acknowledge that I have received your <em>Notice of Privacy Practices</em> containing a more complete description of the uses and disclosures of my health information. I understand that this organization has the rights to change this <em>Notice of Privacy Practices</em> from time to time and that I may contact this organization at any time at the address to obtain a currect copy of the <em>Notice of Privacy Practices</em>.
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="checkbox"> I understand that all of my medical information will be recorded in a secure Electronic Health Records database. This includes but is not limited to all of my completed health information and all currect and ongoing Medical Records.
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="checkbox"> I understand that I may request, in writing, that you restrict how my private information is used or disclosed to carry out treatment, payment or health care operations. I also understand you are not required to agree to my requestted restrictions,
                        but if you do agree then you are bound to abide by such restrictions.
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>