.m-t {
    margin-top: 10px;
}

.m-b {
    margin-bottom: 10px;
}

.m-l {
    margin-left: 10px;
}

.m-r {
    margin-right: 10px;
}

.m {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

/*.main-view .ng-enter {
    animation: fadeIn;
}

.main-view .ng-leave {
    animation: fadeOut;
}*/

/*
    Main Colors
    http://www.colourlovers.com/palette/3972236/Plant
    
    Pink - E5C2AF
    Bright Green - 97BE23
    Grass Green - 749640
    Mint Green - 419250
    Moss Green - 275A31
*/